.page-header{

    height:320px;

    background:
    linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
    url("../assets/hero/hero-1.jpg");

    background-size:cover;
    background-position:center;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    color:white;

}

.page-header h1{

    font-size:56px;

    margin-bottom:15px;

}
#featured-news{

padding:120px 0;

}

.featured-news{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

    gap:40px;

    margin-top:50px;

    align-items:center;

}

.featured-news img{

    width:100%;

    height:300px;

    object-fit:cover;

    border-radius:20px;

}
.featured-news div{

    width:100%;

}

.news-date{

display:inline-block;

background:#C8A24A;

color:white;

padding:8px 18px;

border-radius:50px;

margin-bottom:20px;

}

.featured-news p{

line-height:1.9;

text-align:justify;

margin-bottom:30px;

}
#all-news{

    padding:120px 0;

    background:#f8f9fb;

}

.news-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

    gap:30px;

    margin-top:50px;

}

.news-card{

    background:#fff;

    border-radius:20px;

    overflow:hidden;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

    transition:.3s;

}

.news-card:hover{

    transform:translateY(-8px);

}

.news-card img{

    width:100%;

    height:220px;

    object-fit:cover;

}

.news-content{

    padding:25px;

}

.news-content h3{

    margin:15px 0;

}

.news-content p{

    color:#666;

    line-height:1.8;

    text-align:justify;

    margin-bottom:20px;

}

.news-content a{

    color:#C8A24A;

    font-weight:600;

}
.news-card img{

    width:100%;

    height:220px;

    object-fit:cover;

    transition:.35s;

}

.news-card:hover img{

    transform:scale(1.05);

}