.news-hero{

    height:420px;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    color:white;

    background:
    linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
    url("../assets/news/tuguran.jpg");

    background-size:cover;

    background-position:center;

}

.news-hero h1{

    font-size:52px;

    margin-bottom:20px;

}

.news-hero p{

    font-size:18px;

}
.news-content{

    padding:70px 0;

}

.news-content .container{

    max-width:850px;

    margin:auto;

}

.news-content p{

    font-size:18px;

    line-height:1.9;

    margin-bottom:25px;

    color:#444;

    text-align:justify;

}
.news-image{

    padding:50px 0 20px;

}

.news-image img{

    width:100%;

    border-radius:18px;

    display:block;

}
